<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="_formRecoverPassword" (ngSubmit)="submitForm()" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>

        <span *ngIf="_isSubmitted && errorControl.email.errors?.required">Email é obrigatório</span>
        <span *ngIf="_isSubmitted && errorControl.email.errors?.email">Formato de email incorreto.</span>

        <ion-col size="12" class="internal-link">
          <ion-button color="primary-custom" color="success" type="submit">Recuperar</ion-button>
        </ion-col>
        <ion-col size="12" class="internal-link">
          <a (click)="goToLogin()"><strong><ion-icon name="arrow-back"></ion-icon> Login</strong></a>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>
