<app-ionic-header [title]="headerTitle"></app-ionic-header>

<ion-content>
  <form [formGroup]="_formCadastrar" (ngSubmit)="submitForm()" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-icon name="person-outline" color="secondary-custom"></ion-icon>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-item>
        </ion-col>
        
        <span *ngIf="_isSubmitted && errorControl.nome.errors?.required">Nome é obrigatório</span>
        <span *ngIf="_isSubmitted && errorControl.nome.errors?.minlength">É necessário preencher o nome completo.</span>
        
        <ion-col size="12">
          <ion-item>
            <ion-icon name="call-outline" color="secondary-custom"></ion-icon>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input type="tel" formControlName="telefone" [brmasker]="{mask: '(00)00000-0000', len:14}"></ion-input>
          </ion-item>
        </ion-col>
        
        <span *ngIf="_isSubmitted && errorControl.telefone.errors?.required">Telefone é obrigatório</span>
        <span *ngIf="_isSubmitted && errorControl.telefone.errors?.minlength">É necessário colocar o DDD</span>
        
        <ion-col size="12">
          <ion-item>
            <ion-select placeholder="Sexo" formControlName="sexo">
              <ion-select-option value="Masculino">Masculino</ion-select-option>
              <ion-select-option value="Feminino">Feminino</ion-select-option>
              <ion-select-option value="Não declarado">Não Declarado</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        
        <span *ngIf="_isSubmitted && errorControl.sexo.errors?.required">Sexo é obrigatório</span>
        
        <ion-col size="12">
          <ion-item>
            <ion-icon name="calendar" color="secondary-custom"></ion-icon>
            <ion-label position="floating">DD/MM/YYYY</ion-label>
            <ion-datetime formControlName="dataNascimento" displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY"
              min="1900-01-01" max="2021-16-08" value="2002-09-23T15:03:46.789"></ion-datetime>
          </ion-item>
        </ion-col>
        
        <span *ngIf="_isSubmitted && errorControl.dataNascimento.errors?.required">Data de nascimento é obrigatório</span>
        
        <ion-col>
          <ion-button color="primary-custom" type="submit">Cadastrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<app-ionic-tabs></app-ionic-tabs>