ion-grid{
    ion-row{
        ion-col{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            ion-item{
                border-radius: 10px;
                padding: 8px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                margin-top: 24px;
                margin-bottom: 10px;
                font-size: 18px;
                width: 88%;
            }
            ion-button{
                color: white;
                font-weight: 900;
                font-size: 18px;
                width: 70%;   
            }
            ion-button:hover{
                background-color: blaCK;
            }
        }
    }
}