ion-button{
    color: white;
    font-weight: 900;
    font-size: 18px;
    width: 70%;   
    margin-bottom: 20px;
}

.internal-link {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#gmail-login{
    margin-top: 20px;
}