<app-ionic-header [title]="headerTitle"></app-ionic-header>


<ion-content [fullscreen]="true">
  <ion-button color="danger"
  (click)="logout()">Sair</ion-button>
  <ion-item><b>Seja Bem vindo:</b> {{ this._user.email }}</ion-item>

  <!-- List of Text Items -->
  <ion-list>
    <ion-item-group *ngFor="let contato of _contatos">
      <ion-item lines="none" (click)="goToDetalhar(contato)">
        <ion-row>
          <ion-col size="12">
            <ion-icon name="person-outline" color="secondary-custom"></ion-icon>
            {{contato.nome}}
          </ion-col>
          <ion-col size="12">
            <ion-icon name="call-outline" color="secondary-custom"></ion-icon>
            {{contato.telefone}}
          </ion-col>
          <ion-col size="12">
            <ion-icon name="transgender" color="secondary-custom"></ion-icon>
            {{contato.sexo}}
          </ion-col>
          <ion-col size="12">
            <ion-icon name="calendar" color="secondary-custom"></ion-icon>
            {{contato.dataDeNascimento}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<app-ionic-tabs></app-ionic-tabs>